<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <object th:replace="fragment :: header"></object>
    <object th:include="fragment :: css" th:remove="tag"></object>
    <object th:include="fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragment :: navbar"></nav>
    <div class="container-fluid">
        <p th:text="|Dokter ${dokter.nama} dengan NIK ${dokter.nik} berhasil ditambahkan|"></p>
        <a th:href="@{/}">kembali ke home</a>
    </div>
    <object th:replace="fragment :: footer"></object>
</body>